* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header img {
    height: 120px;
    border-radius: 10px;
    
}

header {
    background-color: #c90909;
  
    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li {
    display: inline;
    margin-right: 16px;
}

header nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

header nav ul a:hover {
    background-color: black;
    color: #e90c0c;
    padding: 5px;
    border-radius: 10px;
}

section img {
    width: 620px;
    border-radius: 10px;
    margin-right: 32px;
    
}

section .container {
    display: flex;
}

section {
    margin: 30px 0;
    font-weight: normal;

}

section p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

section h2{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    color: #c90909;
    font-weight: normal;
}

section ul li img {
    width: 80px;
    
}

section ul li {
    display: inline;
    
}

#sobre p {
    margin-bottom: 10px;
}

.midias img {
    margin-right: 8px;
}

#contato .container {
    display: block;
}

form input, button {
    display: block;
}

input:focus, textarea:focus {
    outline-color: #c90909;
}

.secao-contato {
    display: flex;
    justify-content: space-between;
}

.redes img {
    width: 32px;
    margin-right: 8px;
}

.redes a {
    text-decoration: none;
}

#youtube img {
    width: 70px;
}

form input, textarea {
    font-family: 'Roboto', sans-serif;
    width: 320px;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #c90909;
    background-color: #f1f1f1;

}

form button {
    font-family: 'Bungee', cursive;
    width: 320px;
    background-color: black;
    color: #e20d0d;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #c90909;
    color: #fff;
}

form textarea {
    height: 100px;
    resize: none;
}

#contato h3 {
    margin-bottom: 10px;
    font-family: 'Bungee', cursive;
    color: #c90909;
    font-weight: normal;

}

footer {
    background-color: black;
    color: #e60e0e;
    padding: 10px 0;
    text-align: center;
}